<section class="gridArea">
<div class="listArea1 common">
<h3> Dolphin </h3>
<button (click) = "displayJSON(1)"> Dolphin1</button>
<button (click) = "displayJSON(2)"> Dolphin2</button>
<button (click) = "displayJSON(3)"> Dolphin3</button>
<div class ="list common" >
    <p [innerHTML]="outArea" ></p>
</div>
</div>
<div class="listArea2 common">
<h3> Camel</h3>
<button (click) = "displayJSON1(1)"> Camel1</button>
<button (click) = "displayJSON1(2)"> Camel2</button>
<button (click) = "displayJSON1(3)"> Camel3</button>
<div class ="list1 common" >
    <p [innerHTML]="outArea1" ></p>
</div>
</div>
</section>